WebContent/WEB-INF/classes/updateProduct.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/updateProduct/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="updateProduct" targetNamespace="http://www.example.org/updateProduct/">
  <wsdl:types>
  
    <xsd:schema targetNamespace="http://www.example.org/updateProduct/">
       <xsd:complexType name="updateRequest">
         <xsd:sequence>
           <xsd:element name="authentication" type="tns:authenticationType"/>
           <xsd:element name="listOfProducts" type="tns:listOfProductsType"/>
         </xsd:sequence>
       </xsd:complexType>
      
       <xsd:complexType name="authenticationType">
         <xsd:sequence>
           <xsd:element name="wholesalerName" type="xsd:string"/>
           <xsd:element name="wsUsername" type="xsd:string"/>
           <xsd:element name="wsPassword" type="xsd:string"/>
         </xsd:sequence>
       </xsd:complexType>
      
       <xsd:complexType name="listOfProductsType">
         <xsd:sequence>
           <xsd:element name="supplierProduct" type="tns:supplierProductType" minOccurs="1" maxOccurs="unbounded"/>
         </xsd:sequence>
       </xsd:complexType>    
       
       <xsd:complexType name="supplierProductType">
        <xsd:sequence>
          <xsd:element name="supplierAID" type="xsd:string"/>
          <xsd:element name="shortDescription" type="xsd:string"/>
          <xsd:element name="longDescription" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="price" type="tns:priceType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType> 
      
      <xsd:complexType name="priceType">
        <xsd:sequence>
          <xsd:element name="amount" type="xsd:decimal"/>
          <xsd:element name="currency" type="xsd:string"/>
          <xsd:element name="tax" type="xsd:decimal"/>
          <xsd:element name="type" type="xsd:string"/>
          <xsd:element name="countryISOCode" type="xsd:string"/>
          <xsd:element name="lowerbound" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType> 
      
      <xsd:complexType name="updateResponse">
         <xsd:sequence>
           <xsd:element name="updateDate" type="xsd:date"/>
           <xsd:element name="listOfModifiedProducts" type="tns:listOfModifiedProductsType"/>
           <xsd:element name="listOfUnavailableProducts" type="tns:listOfUnavailableProductsType"/>
         </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="listOfModifiedProductsType">
         <xsd:sequence>
           <xsd:element name="supplierProduct" type="tns:supplierProductType" minOccurs="0" maxOccurs="unbounded"/>
         </xsd:sequence>
       </xsd:complexType>
       
       <xsd:complexType name="listOfUnavailableProductsType">
         <xsd:sequence>
           <xsd:element name="supplierProduct" type="tns:supplierProductType" minOccurs="0" maxOccurs="unbounded"/>
         </xsd:sequence>
       </xsd:complexType>
      
      <xsd:complexType name="updateFault">
        <xsd:choice>
          <xsd:element name="authenticationFault" type="xsd:string"/>
          <xsd:element name="processingFault" type="xsd:string"/>
        </xsd:choice>
      </xsd:complexType> 
    </xsd:schema>
  
  </wsdl:types>
  
  <wsdl:message name="updateCatalog_Request">
    <wsdl:part name="request" type="tns:updateRequest"/>
  </wsdl:message>
  
  <wsdl:message name="updateCatalog_Response">
    <wsdl:part name="response" type="tns:updateResponse"/>
  </wsdl:message>
  
  <wsdl:message name="updateCatalog_Fault">
    <wsdl:part name="fault" type="tns:updateFault"/>
  </wsdl:message>
  
  <wsdl:portType name="updateProductCatalog">
    <wsdl:operation name="updateCatalog">
      <wsdl:input message="tns:updateCatalog_Request"/>
      <wsdl:output message="tns:updateCatalog_Response"/>
      <wsdl:fault name="FaultDescriptions" message="tns:updateCatalog_Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="updateCatalog_SOAP" type="tns:updateProductCatalog">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateCatalog">
      <soap:operation soapAction="http://www.example.org/updateProduct/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="updateProduct_WebService">
    <wsdl:port binding="tns:updateCatalog_SOAP" name="updateProductSOAP">
      <soap:address location="http://ServiceProvider/ServiceLocation/"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
